/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}


/*GENERALE*/

.spazio{
    margin-top: 15px;
    margin-bottom: 15px;

}

.spazio2{
    margin-right: 30px;
}

.spazio3{
    border-collapse: separate;
    border-spacing: 15px;
    
}

/*bordo principale*/
#bordo-principale{
    width: 98%;
    margin: auto;
}

/* HEADER */
header{
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    height: 180px;
}

#logo{
    width: 300px;
    margin-left: 15px;
    margin-top: 80px;
}


/* MAIN */
#autore{
    color: #848484;
}

h1{
    font-size: 50px;
}

h2 span{
    color: #32afe7;
}

#img1{
    width: 47%;
}

#img2{
    width: 40%;
}

.descrizione{
    font-size: 12px;
}

.evidenziato-giallo{
    background-color: yellow;
}

/* Tabella */
table{
    text-align: left;
    border-spacing: 0;
}

thead{
    background-color: #20a9e5;
}

th{
    color: white;
}

.sfondo-azzurro{
    background-color: #b1e5f2;
}

/* FOOTER */
footer h4{
    color: #808080;
    font-size: 20px;
}


.fimg{
    height: 200px;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px;
}

#fimg1{
    background-image: url(../img/monitor.jpg);
}

#fimg2{
    background-image: url(../img/graph.jpg);
}

.stile{
    color: white;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 20px;   
}

